/* =========================================================================================
  File Name: _typography.scss
  Description: partial- typography styles
========================================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=La+Belle+Aurore&family=Roboto+Mono:wght@400;500;600;700&display=swap');

body {
    font-family: $font-family-sans-serif !important;
}

.text-header-2xl {
    font-family: "Roboto";
    font-size: 2.7rem;
    font-weight: bold;
    color: var(--color-black);
}

.text-header-xl {
    font-family: "Roboto";
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--color-black);
}

.text-header-lg {
    font-family: "Roboto";
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.014rem;
    line-height: 1.75rem;
    color: var(--color-gray-500);
}

.text-header {
    font-family: 'Roboto';
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 0.004rem;
    line-height: 1.3125rem;
}

.text-paragraph-xl {
    font-family: "Roboto";
    font-size: 1.125rem;
    font-weight: normal;
    letter-spacing: 0.004rem;
    line-height: 1.3125rem;
}

.text-paragraph {
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.004rem;
    line-height: 1.1875rem;
    color: var(--color-gray-300)
}

.text-note {
    font-family: "Roboto";
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.044rem;
    line-height: 0.9375rem;
}

.menu-link-title {
    font-family: "Roboto";
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.004rem;
    line-height: 0.9375rem;
}