/* =========================================================================================
  File Name: _typography.scss
  Description: partial- typography styles
========================================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=La+Belle+Aurore&family=Roboto+Mono:wght@400;500;600;700&display=swap');

body {
  font-family: $font-family-sans-serif !important;
}


.heading--xl {
  font-size: clamp(40px, 8vw, 70px);
  font-weight: 700;
  line-height: 1.1;
}

.heading--lg {
  font-weight: 500;
  font-size: var(--fz-xl);
  margin: 8px 0px 8px;
}

.heading {
  font-size: clamp(26px, 5vw, var(--fz-heading));
  font-weight: 700;
  margin: 10px 0 40px;
}

.copy-1 {
  font-size: var(--fz-xl);
  font-weight: 400;
  // line-height: 1.1;
}

.note {
  font-size: var(--fz-xs);
  font-family: $font-family-monospace;
}

.link-2 {
  font-size: var(--fz-normal);
  font-family: $font-family-monospace;
}