/* =========================================================================================
  File Name: _variables.scss
  Description: partial- SCSS varibales
========================================================================================== */



/* ========================================================
  SPACING
========================================================= */

/* ========================================================
  COLORS
========================================================= */



/* ========================================================
  TYPOGRAPHY
========================================================= */

$font-family-sans-serif: "Inter",
sans-serif !default;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: "Roboto Mono",
monospace !default;
$font-family-handwriting: "La Belle Aurore",
cursive !default;
$font-family-base: $font-family-sans-serif !default;


/* ========================================================
TRANSITION
========================================================= */
$transition-default: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);