/* =========================================================================================
  File Name: main.scss
  Description: Main scss file. Imports other scss partials
========================================================================================== */

// tailwind core
@import "../tailwind.css";

// App style

@import "variables";
@import "typography";
@import "components";
@import "transitions";

:root {
  --transition-default: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  --padding-xl: 0px 150px;
  --padding-lg: 0px 100px;
  --padding-sm: 0px 50px;
  --padding-xs: 0px 25px;
  --fz-xs: 13px;
  --fz-normal: 14px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-heading: 36px;
  --image-shadow: 0px 15.8196px 4.5321px -6.84091px rgba(33, 37, 41, 0.05), 0px 32.6653px 25.5679px -6.84091px rgba(33, 37, 41, 0.11), 0px 37.625px 68.4091px -6.84091px rgba(33, 37, 41, 0.18);
  --border-radius: 50px;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--color-light-blue);
  font-size: var(--fz-xl);
  line-height: 1.3;
}

@media (max-width: 480px) {
  body {
    font-size: var(--fz-lg);
  }
}

section {
  padding: 100px 0px;
  margin: 0px auto;
  max-width: 1000px;
}